@page "/counter"

@using HelloBlazorApp.Data
@using HelloBlazorApp.SignalRHubs

@inject DemoSignalRHub DemoSignalRHub

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;


    protected override async Task OnInitializedAsync()
    {
        var demoSignalRHub = new DemoSignalRHub();
        demoSignalRHub.LoadOrganisation += DemoSignalRHub_LoadOrganisation;

        await demoSignalRHub.ServerConnection.StartAsync();
    }


    private void DemoSignalRHub_LoadOrganisation(Organisation obj)
    {
        currentCount = obj.Employees.Count;
        IncrementCount();
    }


    private void IncrementCount()
    {
        currentCount++;
    }
}
